# Node modules
/frontend/node_modules/
/backend/node_modules/
**/node_modules/

# Environment files
*.env

# Logs
error.log
debug.log

# Uploaded documents
uploads/

# OS files
.DS_Store


node_modules
